* { margin: 0; padding: 0; box-sizing: border-box; }
body { background: rgb(131, 207, 201); font: 1.8em Helvetica, Arial; }
form { background: rgb(184, 29, 29); padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 89%; margin-right: .5%;}
form #button { color:rgb(190, 156, 156); background: #2D9F0B; border: #eee; padding: 20px;  width: 9%; }
#messages { list-style-type: none; font: italic;  margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: rgb(212, 228, 141); }
#notifyUser { position: fixed; bottom: 42px; width: 100%; }
